In [1]:
import numpy as np
import pandas as pd

In [2]:
path="/content/drive/MyDrive/Dataset/suspicious tweets.csv1.csv"
df=pd.read_csv(path)
df.head(5)

                                             message  label
0  @switchfoot http://twitpic.com/2y1zl - Awww, t...      1
1  is upset that he can't update his Facebook by ...      1
2  @Kenichan I dived many times for the ball. Man...      1
3    my whole body feels itchy and like its on fire       0
4  @nationwideclass no, it's not behaving at all....      1

In [3]:
# Class count
count_class_0, count_class_1 = df.label.value_counts()

# Divide by class
df_class_0 = df[df['label'] == 0]
df_class_1 = df[df['label'] == 1]

In [4]:
count_class_0, count_class_1

(17188, 2812)

In [5]:
df_class_0.shape

(2812, 2)

In [6]:
df_class_1.sample(count_class_1).shape

(2812, 2)

In [7]:
df_class_1_under = df_class_1.sample(count_class_1)
df_test_under = pd.concat([df_class_1_under, df_class_0], axis=0)

In [8]:
print('Random under-sampling:')
print(df_test_under.label.value_counts())

Random under-sampling:
1    2812
0    2812
Name: label, dtype: int64

In [9]:
import spacy

# load english language model and create nlp object from it
nlp = spacy.load("en_core_web_sm") 

def preprocess(text):
    # remove stop words and lemmatize the text
    doc = nlp(text)
    filtered_tokens = []
    for token in doc:
        if token.is_stop or token.is_punct:
            continue
        filtered_tokens.append(token.lemma_)
    
    return " ".join(filtered_tokens)

In [10]:
df_test_under

                                                 message  label
4473   My first TimTam in over a year has gone down v...      1
10555   I don't like Twitter. It sucks. I don't get it!       1
1592   @jillglavan soooo disappointed your T.I. party...      1
6409   @noxhanti Almost, but not quite. Uncanniness a...      1
5438   @alchops - and its gonna get worse. days are g...      1
...                                                  ...    ...
19981             feels that she will fall sick again..       0
19983  i had a dream last nite that i could twitter f...      0
19989  @BindMe but that's true you have to block late...      0
19994  I am stuck in the city y is the holland tunnel...      0
19997  feeling so down right now .. i hate you DAMN H...      0

[5624 rows x 2 columns]

In [12]:
df_test_under['message'] = df_test_under['message'].apply(preprocess)

In [13]:
df_test_under

                                                 message  label
4473              timtam year go verrrrry miss Australia      1
10555                                  like Twitter suck      1
1592   @jillglavan soooo disappoint T.I. party leave ...      1
6409   @noxhanti uncanniness rampant Luddism pay repl...      1
5438               @alchop go to bad day get short short      1
...                                                  ...    ...
19981                                     feel fall sick      0
19983   dream nite twitter fone   thing hate bout fone        0
19989  @bindme true block later people post fake spam...      0
19994  stick city y holland tunnel close wanna bac je...      0
19997                       feel right hate DAMN HUMPREY      0

[5624 rows x 2 columns]

In [14]:
from sklearn.model_selection import train_test_split
message_train,message_test=train_test_split(df_test_under)

In [15]:
message_train

                                                 message  label
4052                     p.s @MichaelHenry hose gasoline      0
8899                          uhm pft 2.4 run today fail      0
7014                                      @ashleymancini      1
11646                  look forward go tonight commit go      1
16050  Sick   think fever turn Blazer playoff ticket ...      0
...                                                  ...    ...
3358   @aventure window deal 20 window server 180 win...      0
3970                    Ugh need big ipod like seriously      1
7025                                             reality      1
15072   abuelas cooking goooood pega leave   eat way new      1
9927                        Saturday morning school   oh      1

[4218 rows x 2 columns]

In [37]:
message_test

                                                 message  label
903         crave tantan nabe   http://plurk.com/p/mzxcs      1
1771   look get completely different config find shar...      1
5604   get study   hate junior cert not wait till 12 ...      0
4381   hate parent cry kid make think parent feel 1st...      0
14691  home today sick   hate like have phone work le...      0
...                                                  ...    ...
15799                LOL fail miserably guitar hand hurt      0
5956   power outage Campus Kirchberg uni.lu explain p...      0
60     @batmanyng miss ps3 commission   Wutcha playin...      1
2168               nice day Chibi stick home wait parcel      0
7590   desperate time desperate measure record high c...      0

[1406 rows x 2 columns]

In [16]:
messages_train = message_train.to_records(index=False)
messages_test=message_test.to_records(index=False)

In [46]:
message_test

                                                 message  label
903         crave tantan nabe   http://plurk.com/p/mzxcs      1
1771   look get completely different config find shar...      1
5604   get study   hate junior cert not wait till 12 ...      0
4381   hate parent cry kid make think parent feel 1st...      0
14691  home today sick   hate like have phone work le...      0
...                                                  ...    ...
15799                LOL fail miserably guitar hand hurt      0
5956   power outage Campus Kirchberg uni.lu explain p...      0
60     @batmanyng miss ps3 commission   Wutcha playin...      1
2168               nice day Chibi stick home wait parcel      0
7590   desperate time desperate measure record high c...      0

[1406 rows x 2 columns]

In [17]:
!pip install creme

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting creme
  Downloading creme-0.6.1.tar.gz (524 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 524.7/524.7 kB 13.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting mmh3==2.5.1
  Downloading mmh3-2.5.1.tar.gz (9.8 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy>=1.18.1 in /usr/local/lib/python3.9/dist-packages (from creme) (1.22.4)
Requirement already satisfied: scipy>=1.4.1 in /usr/local/lib/python3.9/dist-packages (from creme) (1.10.1)
Requirement already satisfied: pandas>=1.0.1 in /usr/local/lib/python3.9/dist-packages (from creme) (1.5.3)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.1->creme) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.0.1->creme) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas>=1.0.1->creme) (1.16.0)
Building wheels for collected packages: creme, mmh3
  Building wheel for creme (setup.py) ... done
  Created wheel for creme: filename=creme-0.6.1-cp39-cp39-linux_x86_64.whl size=1146133 sha256=dabe546ee47fd7a6f66e2b983d598795d5e722d87dd8381d721b1577729741cb
  Stored in directory: /root/.cache/pip/wheels/a5/65/47/db774bf8e776dbe6896f94184365934a1656debdb4b524d700
  Building wheel for mmh3 (setup.py) ... done
  Created wheel for mmh3: filename=mmh3-2.5.1-cp39-cp39-linux_x86_64.whl size=46947 sha256=207542311c15bd53711992a4971805dabde9dd526e1cae46f949511c36f2e0a3
  Stored in directory: /root/.cache/pip/wheels/d0/62/8d/0e583213c65f85a1e29fe9e9566f9373140d1bee5ad43ad204
Successfully built creme mmh3
Installing collected packages: mmh3, creme
Successfully installed creme-0.6.1 mmh3-2.5.1

In [18]:
import math
from creme import compose
from creme import feature_extraction
from creme import naive_bayes
import creme

model = compose.Pipeline(
    ('tokenize', feature_extraction.TFIDF(lowercase=False)),
    ('nb', naive_bayes.MultinomialNB(alpha=1))
)

In [19]:
from creme import metrics
metric=metrics.Accuracy()
# Training the model row by row
for message,label in messages_train:
    model = model.fit_one(message, label)
    y_pred = model.predict_one(message)
    metric = metric.update(label, y_pred)

In [20]:
metric

Accuracy: 98.20%

In [21]:
### test Data Accuracy
test_metric=metrics.Accuracy()
for message,label in messages_test:
    y_pred = model.predict_one(message)
    test_metric = metric.update(label, y_pred)

In [22]:
test_metric

Accuracy: 93.85%

Increamentally adding new dataset 
Learning row by row

In [23]:
path="/content/drive/MyDrive/Dataset/suspicious tweets.csv2.csv"
df1=pd.read_csv(path)
df1.head(5)

                                             message  label
0  @heather2711 Good thing I didn't find any then...      1
1                                 DEA's are no fun        1
2  @tommcfly no i haven't  hey but you guys are b...      1
3  I googled up remedies for jonzing and reading ...      1
4                trying to fix my phone         fail      0

In [24]:
# Class count
count_class_2, count_class_3 = df.label.value_counts()

# Divide by class
df_class_2 = df1[df1['label'] == 0]
df_class_3 = df1[df1['label'] == 1]

In [25]:
count_class_2, count_class_3

(17188, 2812)

In [26]:
df_class_3_under = df_class_3.sample(count_class_3)
df_test1_under = pd.concat([df_class_3_under, df_class_2], axis=0)

In [27]:
df_test1_under

                                                 message  label
8993   Ok had enough can't take no more im going to bed       1
14213  @solkana I have a dumb phone. Will have to mak...      1
3818   Good times with old friends last night... and ...      1
5896   @sheryl_stephen: Nope. Money was split 50,30,2...      1
3213   @jonasbrothers hey, when will the tickets be o...      1
...                                                  ...    ...
19927  @hippojuicefilm Hells yeah they do. I feel so ...      0
19935  @Deshaine Oh, you're completely prepared. Wait...      0
19957  @SecBarbie *I* even figured out that Turkey is...      0
19959  Hello, people on Facebook. Do you like the way...      0
19975  @shelleybookworm Hah!  Round is a shape, indee...      0

[4801 rows x 2 columns]

In [28]:
df_test1_under.shape

(4801, 2)

In [29]:
print('Random under-sampling:')
print(df_test1_under.label.value_counts())

Random under-sampling:
1    2812
0    1989
Name: label, dtype: int64

In [30]:
df_test1_under = df_test1_under.to_records(index=False)

In [31]:
df_test1_under

rec.array([("Ok had enough can't take no more im going to bed ", 1),
           ('@solkana I have a dumb phone. Will have to make do ', 1),
           ('Good times with old friends last night... and now I need to run a marathon to work off all the beer... ', 1),
           ...,
           ('@SecBarbie *I* even figured out that Turkey is pretty close to Iraq. ', 0),
           ("Hello, people on Facebook. Do you like the way I'm spamming all of your newsfeeds with Twitter? ", 0),
           ("@shelleybookworm Hah!  Round is a shape, indeed, and there are round parts of me I'd like to plane down.  ", 0)],
          dtype=[('message', 'O'), ('label', '<i8')])

In [33]:
from creme import metrics
metric=metrics.Accuracy()

for message,label in df_test1_under:
    model = model.fit_one(message,label)
    y_pred = model.predict_one(message)
    metric = metric.update(label, y_pred)

In [34]:
metric

Accuracy: 90.69%

In [43]:
model.fit_one("The weather is so warm", 1)

Pipeline (
  TFIDF (
    normalize=True
    on=None
    strip_accents=True
    lowercase=False
    preprocessor=None
    tokenizer=<built-in method findall of re.Pattern object at 0x7f9f8b8ab5e0>
    ngram_range=(1, 1)
  ),
  MultinomialNB (
    alpha=1
  )
)

In [47]:
model.predict_one("LOL fail miserably guitar hand hurt	 ")

0